<aside class="asiide w-64 bg-white border-r border-gray-200 h-full max-sm:hidden">
  <nav class="p-4 space-y-1">
    <a  *ngFor="let item of navItems" class="sidebar-item" [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" [ngClass]="{ 'bg-white text-gray-700': !isActive(item.route), 'bg-blue-800 text-lime-50 font-medium': isActive(item.route)}">
      <span class="mr-3">
        <svg *ngIf="item.icon" [innerHTML]="getSvgIcon(item.icon)" class="h-5 w-5"></svg>
      </span>
      <span>{{ item.name }}</span>
    </a>
  </nav>
</aside>
