<div class=" shadow-md rounded-lg overflow-hidden">
    <div class="p-6 border-b border-gray-200">
      <div class="flex flex-col md:flex-row md:items-center md:justify-between mb-4">
        <h2 class="text-lg font-semibold">Liste des clients</h2>
        <div class="flex flex-row  w-5/12 justify-between max-sm:w-full">
        <button  class="btn-primary w-6/12 bg-white hover:shadow-lg text-gray-400 border-2   rounded  mt-3 md:mt-0 flex items-center justify-center">
          Exporter
        </button>
        <button (click)="addCustomer()" class="btn-primary hover:shadow-lg bg-blue-700 text-white border-1 p-3 rounded  mt-3 md:mt-0 flex items-center justify-center">
          Nouveau un client
        </button>
      </div>
      </div>
      
    <div class="bg-white p-4 rounded-xl shadow-md mb-6">
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-4">
        
        <input type="text" placeholder="Rechercher un client" [(ngModel)]="searchTerm"  (input)="applyFilter()"  class="placeholder:text-sm w-full border border-gray-300 rounded-lg px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500"/>
    
        <select class="text-sm text-gray-400  w-full border border-gray-300 rounded-lg px-4 py-2 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500 ">
          <option>Tous les secteurs</option>
          <option >Technologie</option>
          <option>Finance</option>
          <option>Santé</option>
        </select>
    
        <select class="text-gray-400 text-sm w-full border border-gray-300 rounded-lg px-4 py-2 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500">
          <option>Tous les pays</option>
          <option>Maroc</option>
          <option>France</option>
          <option>US</option>
        </select>
    
        <select class="text-gray-400 text-sm w-full border border-gray-300 rounded-lg px-4 py-2 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500">
          <option>Ajout récent</option>
          <option>Dernières 24h</option>
          <option>7 derniers jours</option>
          <option>30 derniers jours</option>
        </select>
    
        <select class="text-gray-400 text-sm w-full border border-gray-300 rounded-lg px-4 py-2 bg-white focus:outline-none focus:ring-2 focus:ring-blue-500">
          <option >Commercial assigné</option>
          <option *ngFor="let customer of filteredCustomers">{{ customer.commercial }}</option>

        </select>
    
      </div>
    </div>
    
    <div class="overflow-x-auto w-full">
      <table class="min-w-full divide-y divide-gray-200 text-sm border-[0.5px] border-gray-400 rounded">
        <thead class="bg-gray-100">
          <tr>
            <th class="px-4 py-2 text-left font-semibold">NOM</th>
            <th class="px-4 py-2 text-left font-semibold">EMAIL</th>
            <th class="px-4 py-2 text-left font-semibold">TÉLÉPHONE</th>
            <th class="px-4 py-2 text-left font-semibold">SECTEUR</th>
            <th class="px-4 py-2 text-left font-semibold">COMMERCIAL</th>
            <th class="px-4 py-2 text-left font-semibold">ACTIONS</th>
          </tr>
        </thead>
        <tbody class="bg-white divide-y divide-gray-200">
          <tr *ngFor="let customer of filteredCustomers">
            <td class="px-4 py-2">{{ customer.name }}</td>
            <td class="px-4 py-2">{{ customer.email }}</td>
            <td class="px-4 py-2">{{ customer.phone }}</td>
            <td class="px-4 py-2">{{ customer.secteur}}</td>
            <td class="px-4 py-2">{{customer.commercial}}</td>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
              <button (click)="viewCustomer(customer.id)" class="text-primary-600 hover:text-primary-800 mr-3">
                Voir
              </button>
              <button (click)="deleteCustomer(customer.id)" class="text-red-600 hover:text-red-800">
                Supprimer
              </button>
            </td>
          </tr>

        </tbody>
      </table>
    </div>


    <!-- <div class="bg-white py-4 px-6 shadow rounded flex items-center justify-between">
      <div>
        <a href="#" class="text-lg px-4 py-2 border border-gray-300 rounded hover:bg-gray-100 text-gray-700">
          Prev
        </a>
      </div>
    
      <div class="flex space-x-2">
        <a href="#" class="text-lg px-4 py-2 border border-gray-300 rounded hover:bg-gray-100 text-gray-700">1</a>
        <a href="#" class="text-lg px-4 py-2 border border-gray-300 rounded hover:bg-gray-100 text-gray-700">2</a>
        <a href="#" class="text-lg px-4 py-2 border border-blue-500 bg-blue-500 text-white rounded">3</a>
        <a href="#" class="text-lg px-4 py-2 border border-gray-300 rounded hover:bg-gray-100 text-gray-700">4</a>
        <a href="#" class="text-lg px-4 py-2 border border-gray-300 rounded hover:bg-gray-100 text-gray-700">5</a>
      </div>
    
      <div>
        <a href="#" class="text-lg px-4 py-2 border border-gray-300 rounded hover:bg-gray-100 text-gray-700">
          Next
        </a>
      </div>
    </div> -->
    
    
    